<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <Paytabsinfotech>
                <model>Ambientinfotech\Paytabsinfotech\Model\PaymentMethod</model>
                <title>Credit/debit cards powered by Paytabs.</title>
                <merchantemail backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secretkey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <payment_action>Sale</payment_action>
                <visible_on_cart>1</visible_on_cart>
                <order_status>pending_payment</order_status>
            </Paytabsinfotech>
        </payment>
    </default>
</config>
